@media only screen and (max-width: 1200px) {
    /* body *{
        background-color: blueviolet;
    } */

    .logo{
        font-size: 60px;
    }

    .text-desc{
        font-family: Tahoma;
        font-size: 40px;
        margin-bottom: 25px;
    }
    
    .sc-large{
        /* background-color: aliceblue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .align-form{
        align-items: center;
        margin-left: 30px;
        margin-top: 7px;
    }
    
    .color-input{
        background: white;
        color: rgb(60, 60, 255);
        justify-content: center;

    }

    .title-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}